# Google Configuration
GOOGLE_CLIENT_ID = "google-client-id-here"
GOOGLE_CLIENT_SECRET = "google-client-secret-here"

# GitHub Configuration
GITHUB_CLIENT_ID = "github-client-id-here"
GITHUB_CLIENT_SECRET ="github-client-secret-here"

# NextAuth Configuration
NEXTAUTH_SECRET = "write-your-secret-here"
NEXT_PUBLIC_BACKEND_URL=http://localhost:5000
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000